* {
    font-family: Helvetica, 'Times New Roman', serif;
    font-size: 18px;
    color: white;
   
}

h1 {
    text-align: center;
    font-size: larger;
}
h2 {
    color: tomato;
}
h3 {
    color: gold;
}
body {
    background-color: blue;
    background-image: url(../img/kitchen.png);
    height: 75px;
    width: auto;
    background-repeat: repeat;
    background-size: 75px;
}
body.bread {
    background-image: url(../img/bread-knife.png);
}